# goals.config
#
# DOC: Checked input image metadata and embedding capacity.
image_metadata_checked = matchany : string_contains : image_metadata_checked : answer=IMAGE_METADATA_OK
# DOC: Ran the LSB embedding workflow and created the stego image.
lsb_embed_ran = matchany : string_contains : lsb_embed_ran : answer=LSB_EMBED_OK
# DOC: Extracted the message from the stego image.
lsb_extract_ran = matchany : string_contains : lsb_extract_ran : answer=LSB_EXTRACT_OK
# DOC: Created a non-empty answer file.
answer_file_created = matchany : string_contains : answer_file_created : answer=ANSWER_FILE_CREATED
# DOC: Recovered the correct secret message.
secret_recovered = matchany : string_equal : secret_recovered : answer=e0a1dde22dd527770740bd1dc4d42f62cc74affe42370d36460e5bf102965354
